Globaljs
[{"id":"ed93750a.126c88","type":"ui_tab","z":"","name":"Home","icon":"home","order":"1"},{"id":"1f28adcf.e0d752","type":"inject","z":"fb38f9c2.04c708","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":125,"y":322.99999046325684,"wires":[["5a50cf58.a5af3"]]},{"id":"5a50cf58.a5af3","type":"function","z":"fb38f9c2.04c708","name":"get global count","func":"if (parseInt(context.global.counter1, 10)=== 1){\n//msg.payload = \"global counter = \" + parseInt(context.global.counter, 10);\n\nreturn msg;}","outputs":1,"noerr":0,"x":304,"y":319.00000381469727,"wires":[["b6f2ed23.490d1"]]},{"id":"b6f2ed23.490d1","type":"debug","z":"fb38f9c2.04c708","name":"","active":true,"console":false,"complete":false,"x":483.000057220459,"y":317.99999046325684,"wires":[]},{"id":"c56cdefe.3a932","type":"function","z":"fb38f9c2.04c708","name":"Unlock","func":"//if (context.hasOwnProperty(\"counter\"))\n//\tcontext.counter += 1;\n//else\n//\tcontext.counter = 0;\nif (msg.payload === '1'){\ncontext.global.counter1 = 1;\n}\nelse\ncontext.global.counter1 = 0;\n\n//msg.payload = \"local counter = \" + parseInt(context.counter, 10);\n\n//return msg;","outputs":1,"noerr":0,"x":399.48182678222656,"y":208.4770736694336,"wires":[["9a429106.65bd7"]]},{"id":"9a429106.65bd7","type":"debug","z":"fb38f9c2.04c708","name":"","active":true,"console":false,"complete":false,"x":579.4817810058594,"y":213.47710037231445,"wires":[]},{"id":"8aac5940.7553a8","type":"ui_switch","z":"fb38f9c2.04c708","tab":"ed93750a.126c88","name":"Switch","topic":"","group":"","order":1,"onvalue":"1","offvalue":"0","x":145,"y":222,"wires":[["c56cdefe.3a932"]]}]
